.tableStyle {
    border: 1px solid hsl(0, 2%, 46%);
    text-align: left;
    padding: 8px;
  }
  .tableClass{
    background-color:rgb(243, 205, 225);
    border: 1px solid rgb(235, 117, 189);
    width: 100%;
    text-align: center;
    
}
.text-style{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: red;
}