*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #E0E0E0;
}
.form-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(214, 169, 191);
   color: black;
   border-radius: 10%;
   border: 1px solid black;
   max-width: 500px;
   padding: 30px;
   

}
.formCenter{
    margin: auto;
    width: 40%;
   
}
#submit{
    background-color: rgb(70, 50, 103);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 30px;
}
.error{
    color: red;
    display: block;
}
input{ 
    width: 100%;
 }
 #fname{
    color: red;
 }

