body{
    overflow: auto;
}
.table-width {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
   
}
th,
td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #f2f2f2d2;
}

tr:hover {
    background-color: #ddd;
}

th {
    background-color: #4cc5c9;
    color: black;
}
.table-scroll{
    overflow: auto;
    min-height: 50px;

}
input{
    margin-bottom: 20px;
}